<template>
  <div class="container">
<h3 class=" text-center">Messaging</h3>
<div @click="logout" class="text-center"><button class="btn btn-sm btn-danger my-2">Logout</button></div>


<div class="messaging">
      <div class="inbox_msg">

        <div class="mesgs">
          <div class="msg_history">
            <div  v-for="message in allMessages" :key="message.id" :class="[ message.sender != authUser.email ? 'incoming_msg' : 'outgoing_msg']">
              <div class="incoming_msg_img" v-show="message.sender != authUser.email"> <img :src="authUser.photoURL" alt="sunil"> </div>
              <div :class="[ message.sender != authUser.email ? 'received_msg' : 'sent_msg']">
                <div :class="[ message.sender != authUser.email ? 'received_withd_msg' : '']">
                  <p>{{ message.message }}</p>
                  <span class="time_date">{{ message.time }}</span></div>
              </div>
            </div>            
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input v-model="message" @keyup.enter="sendMessage" type="text" class="write_msg" placeholder="Type a message" />
            </div>
          </div>
        </div>
      </div>
      
         
    </div></div>
</template>

<script>
import db from '../firebase/init'
import {auth} from '../firebase/init'
export default {
  data() {
    return {
      message: '',
      allMessages: [],
      authUser: {}
    }
  },
  methods: {
    sendMessage() {
      this.scrollToBottom()
      db.collection('chats').add({
        message: this.message,
        createdAt: new Date(),
        sender: this.authUser.email,
        time: new Date().toLocaleTimeString()
      })
      this.scrollToBottom()
      this.message = ''
    },
    fetchMessage() {
      db.collection('chats').orderBy('createdAt')
      .onSnapshot(querySnapshots => {
        let allMessages = [];
        querySnapshots.forEach(docs => {
          allMessages.push(docs.data())
        })
        this.allMessages = allMessages
        setTimeout(() => {
          this.scrollToBottom()
        }, 1000)
      })
    },
    logout() {
      auth.signOut();
    },
    scrollToBottom(){
      let box = document.querySelector('.msg_history')
      box.scrollTop = box.scrollHeight
    }
  },
  created() {
    this.fetchMessage()
    console.log(new Date().toLocaleTimeString());
  },
  beforeRouteEnter(to, from, next) {
      next(vm => {
          auth.onAuthStateChanged(user => {
              if(user) {
                vm.authUser = user
                  next()
              } else {
                  vm.$router.push('/')
              }
          })
      })
  },
}
</script>

<style scoped>

</style>
