<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-auto">
                <div class="login-wrapper">
                    <h5 class="mb-5 text-center">Welcome!!! Please login to start chat</h5>
                    <button @click="login" class="btn btn-lg btn-danger btn-block"><i class="fa fa-google fa-white mr-3"></i>Login with Google</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import firebase from 'firebase'
import {auth} from '../firebase/init'
export default {
    name: 'Welcome',
    data() {
        return {

        }
    },
    methods: {
        login() {
            var provider = new firebase.auth.GoogleAuthProvider();
            provider.addScope('https://www.googleapis.com/auth/contacts.readonly');
            firebase.auth().signInWithPopup(provider).then(function(result) {
                // This gives you a Google Access Token. You can use it to access the Google API.
                var token = result.credential.accessToken;
                // The signed-in user info.
                var user = result.user;
                // ...
            }).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
                // ...
            });
        }
    },
    beforeRouteEnter(to, from, next) {
        next(vm => {
            auth.onAuthStateChanged(user => {
                if(user) {
                    vm.$router.push('/chat')
                } else {
                    next();
                }
            })
        })
    }
    
}
</script>

<style scoped>
.login-wrapper{
    margin: 30% 0;
    background: #eeeeee;
    padding: 20px
}
</style>
